body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5eee7;
}

header {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: #333;
  color: #fff;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hamburger {
  padding: 0 1.5rem;
  font-size: xx-large;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

#nav-menu {
  display: none;
  flex-direction: column;
  text-align: center;
  margin-top: 0.5rem;
}

#nav-menu a {
  color: #fff;
  text-decoration: none;
  margin: 0.5rem 0;
}

#nav-menu.open {
  display: flex;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
}

figure {
  margin: 0;
  border: 1px solid #333;
  background-color: #fff;
}

figure:hover {
  box-shadow: 0 0 20px #333;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

figcaption {
  padding: 1rem;
  font-size: larger;
  text-align: center;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #333;
  color: #fff;
}


@media screen and (min-width: 768px) {

  header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  #hamburger {
    display: none;
  }

  #nav-menu {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }

  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}



.card {
  border: 1px solid #333;
  background: white;
  padding: 1rem;
  text-align: center;
}

.card img {
  margin-top: 1rem;
}
