* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #f5f5f5;
  color: #333;
}

header {
  background-color: #cd062a;
  color: white;
  padding: 1rem;
  text-align: center;
}

#img {
  background-color: #093c8c;
}

#img picture img {
  width: 100%;
}


/* ---------------- DATA AND WEATHER BOXES ---------------- */

#data,
#weather {
  text-align: center;
  padding: 1rem;
}

#data ul,
#weather ul {
  padding: 0;
  list-style: none;
}

#data li,
#weather li {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Alinea todas las etiquetas */
#data strong,
#weather strong {
  min-width: 50%;
  /* ajusta según el texto más largo */
  text-align: right;
}

#data p,
#weather p {
  margin: 0;
}

#weather-icon {
  font-size: 60px;
}



footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: white;
}


/* ================================
   RESPONSIVE (LARGER)
================================ */

@media (min-width: 900px) {

  header {
    font-size: xx-large;
  }

  footer {
    font-size: larger;
  }

  /* ---------------- DATA AND WEATHER BOXES ---------------- */
  #img {
    z-index: -1;
  }

  #data-w-box {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    position: absolute;
    margin-top: -40%;
    width: 100%;
    padding: 0 5%;
  }

  hr {
    display: none;
  }

  #data,
  #weather {
    background-color: rgba(198, 206, 223, 0.756);
    font-size: x-large;
  }

  #data {
    width: 450px;
    height: 100%;
  }

  #weather {
    margin-top: 400px;
  }

  .title-data {
    background-color: #093c8c;
    color: white;
    margin-left: -30px;
    padding: 1rem 2rem;
    text-align: left;
    font-size: 30px;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  #weather-icon {
    font-size: 40px;
  }

  #data li {
    margin-left: -15%;
  }

  #data li,
  #weather li {
    padding-top: 1rem;
  }

}