body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5eee7;
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  background: #333;
  color: #fff;
}

/* contenedor del título + botón */
header>div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#hamburger {
  padding: 0 2rem;
  font-size: xx-large;
  background-color: #ffffff08;
  border: none;
}

#nav-menu {
  display: none;
  flex-direction: column;
  text-align: center;
  width: 100%;
  font-size: larger;
  margin-top: 0.5rem;
}

#nav-menu a {
  color: #fff;
  text-decoration: none;
  margin: .5rem 0;
}

#nav-menu.open {
  display: flex;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}


.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
}

figure {
  margin: 0;
  border: solid;
  border-color: #333;
  background-color: #fff;
}

figure:hover {
  box-shadow: 0 0 50px #333;
}

img {
  height: 250px;
  width: 100%;
  max-height: 500px;
}

figcaption {
  padding: 1rem;
  font-size: larger;
  text-align: center;
}

footer {
  text-align: center;
  margin-top: 1rem;
  padding: 1rem;
  background: #333;
  color: #fff;
}